.nav-bar p {
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  height: 43px;
  background-color: black;
  color: white;
  text-align: right;
  margin: 0;
  padding: 12px 16px;
  position: fixed;
  width: 100%;
}
