/* ------nav------ */
.nav p {
    background-color: black;
    color: white;
    padding: 15px;
    margin: 0;
    width: 100%;
    position: fixed;
    flex-wrap: wrap;



}

.dashboard .side-navbar .content {
    display: flex;
    flex-direction: row;
}

/* --------side-navbar------- */
.side-navbar {

    display: flex;
    flex-direction: column;
    width: 25%;
    position: fixed;
    margin: 0;
    margin-top: 30px;
    padding: 0%;

}

/*-------- section1------ */
.section1 {
    display: flex;
    margin: 20px;
}

.section1 img {
    width: 50px;
    border-radius: 50%;
}

/* -----------section2----------- */
.section2 {
    display: flex;
    flex-direction: column;
}

.section2 a {
    background-color: rgb(75, 149, 173);
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    width: 98%
}

.section2 a:hover {
    background-color: rgb(173, 167, 167);
}

/* --------section3--------- */
/* .section3 {
    display: flex;
    flex-direction: column;
} */

.section3 {
    display: flex;
    flex-direction: column;
}

.section3 a {
    background-color: white;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    width: 98%
}

.section3 a:hover {
    background-color: rgb(173, 167, 167);
}

/* ----------content------ */
.content {
    background-color: rgb(224, 218, 218);
    display: flex;
    flex-direction: column;
    margin-left: 349px;
    width: 75%;

}

.content p {
    font-size: 20px;
    padding: 10px;
    margin-top: 40px;
}

/* ----------content-section1-------- */
.content-section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.content-section1 p {
    width: 20%;
    height: 100px;
}

.content-section1-red {
    background-color: rgb(241, 61, 61);
}

.content-section1-blue {
    background-color: rgb(61, 175, 241);
}

.content-section1-green {
    background-color: rgb(96, 226, 198);
}

.content-section1-yellow {
    background-color: rgb(241, 208, 61);
}

/* ------content-section2--------- */
.content-section2 {
    display: flex;
    margin: 20px;
}

.content-section2 .item2 {
    margin-left: 20px;
    width: 100%;
    margin-top: -40px;


}

.content-section4 .item2-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px ridge rgb(175, 171, 171);
    background-color: #f2f2f2;

}

.item2-table th,
td {
    text-align: left;
    padding: 8px;
    width: 100%;
}

.item2-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}


/* .content-section2 .item2 p{
    font-size: 17px;
    background-color: white;
    margin: 0;
} */
.content-section2-div img {
    width: 350px;
}

/* --------content-section3------- */
.content-section3 {
    margin: 20px;
    padding: 0;

}

.content-section3 p {
    font-size: 14px;
}

.content-section3 .parent-div {
    background-color: gray;
    margin: 0;
}

.content-section3 .child-div1 {
    background-color: green;
    width: 25%;
    text-align: center;
}

.content-section3 .child-div2 {
    background-color: rgb(255, 208, 0);
    width: 50%;
    text-align: center;
}

.content-section3 .child-div3 {
    background-color: rgba(255, 0, 0, 0.836);
    width: 75%;
    text-align: center;
}

/* ----------content-section4----------- */
.content-section4 {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.content-section4 a {
    background-color: white;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    width: 95%
}

.content-section4 a:hover {
    background-color: rgb(214, 204, 204);
}

.content-section4 {
    box-shadow: #f2f2f2;
}

.content-section4 button {
    width: 140px;
    font-size: 16px;
    margin: 10px 10px;
    margin-left: 2px;
    background-color: gray;
    color: white;
    border: ridge rgb(175, 171, 171);


}

.content-section4 button:hover {
    background-color: azure;
    color: black;
}

.content-section4 .content-section4-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px ridge rgb(175, 171, 171);

}

.content-section4-table th,
td {
    text-align: left;
    padding: 8px;
}

.content-section4-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: white;
}

/* -------content-section5------- */
.content-section5 {
    margin: 20px;
}

.content-section5-div {
    display: flex;
    flex-direction: row;
    margin: 2px;
    width: 100%;
    background-color: #f2f2f2;
    flex-wrap: wrap;
    box-shadow: 2px gray;
}

.content-section5-div img {
    border-radius: 50%;
    width: 100px;
}

.content-section6 {
    margin: 20px;
    background-color: #f2f2f2;
}

.content-section6-div {
    display: flex;
    flex-direction: row;
}

.content-section6-div p {
    margin-top: 40px;
    margin-left: 20px;

}

.content-section6-div img {
    border-radius: 50%;
    width: 100px;
    size: 50px;
}

/* ----------content-section7--------- */
.content-section7 {
    display: flex;
    flex-direction: row;
    background-color: gray;
    color: white;
    margin: 20px;

}

.content-section7 p {
    font-size: 17px;
    display: flex;
}

.content-section7-div {
    flex: 1;
}

.content-section7-div1 h2 {
    border-bottom: solid green;
}

.content-section7-div1 {
    margin: 20px;
}

.content-section7-div2 h2 {
    border-bottom: solid red;
}


.content-section7-div3 h2 {
    border-bottom: solid yellow;
}



footer {

    margin-left: 30px;
}